@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-thin::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background: #DFE1E6;
  border-radius: 10px;
}

.prose {
  @apply max-w-none;
}

::selection {
  @apply bg-[#0052CC] text-white;
}
